/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    width: 90em;
    margin: auto;
    display: flex;
    flex-direction:column;
    padding: 0em 3.125em 0em 3.125em;
    gap: 2.188em;
}
main {
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h2 {
    margin: 0em;
}

/****** Header ***********/

header {
    height: 4.938em;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.header-logo {
    width: 10.068em;
    height: 4.938em;  
}

.header-logo img {
    width: 3.818em;
    height: 1.188em;
    padding: 1.875em 3.125em 1.875em 0em
}

.header-navigation {
    width: 20.538em;
    height: 2.188em;  
}
#header-nav li {
    display: inline;
    padding-left: 3.4em;
}

/****** INFO-GROUP ***********/

.info-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.188em;
}

.search-bar {
    width: 23.563em;
    height: 1.313em;
    border-radius: 0.938em;
    border: 0.063em;
    border-color: #F2F2F2;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    background-size: 3.125em 3.063em;
    border: 0.063em #F2F2F2;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 0.938em;
    padding: 1.875em;
    gap: 1.875em;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.875em
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 15.6em;
    height: 12.95em;
}

.hebergements-cards img {
    width: 15.6em;
    height: 7.75em;
    border-radius: 1.25em 1.25em 0em 0em;
    border: 0.3em;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0em 0.9em 0em 0.9em;
    gap: 0.5em;
}

.hebergements-cards .card-title {
    margin-top: 0.6em;
    margin-bottom: 0.25em;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 0.3emx;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 2.063em;
}

.populaires-cards img {
    width: 33%;
    height: 8.5em;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 0.938em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 0.6em;
    margin-bottom: 0.25em;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 0.3em;
}

/****** Activites ***********/

.activites {
    gap: 1.875em;
    padding: 1.875em;
}

.activites-cards {
    weight: 80em;
    height: 27.438em;
    margin-top: 2.063em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activites-cards .card {
    width: 18.594em;
    height: 27.438em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites-cards img {
    width: 100%;
    height: 23.75em;
    border-radius: 1.25em 1.25em 0em 0em;
    object-fit:fill;
}

.activites-cards .card-title {
    padding: 0em 0em 0em 1.188em;
}

/****** Footer ***********/

footer {
    background-color: #F2F2F2;
    width:100%;
    height: 10.188em;
}

.information {
    display: flex;
    flex-direction: row;
}

.information section {
    width:33.3%;
    padding-left: 1.25em;
}

.information ul {
    list-style-type: none;
    padding:0em;
}

.information li {
    margin-bottom: 0.938em;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}